@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap'); */

@font-face {
    font-family: Custom_Baskerville;
    /* src: url(../Assets/Libre-Bodoni-master/fonts/TTF/LibreBodoni-Bold.ttf); */
    src: url("../Fonts/BaskervilleBT.ttf");
}

@font-face {
    font-family: Custom_goldoni;
    src: url("../Fonts/Goldoni_DEMO.otf");
}

:root{
    --custom_grey: #353535;
    --custom_light_grey: #E0DFDA;
    --custom_sandal: #FFE1B8;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    color: black;
}

html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    overflow: hidden;
    background-color: var(--custom_light_grey);
}


button{
    background-color: var(--custom_sandal);
    height: fit-content;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 20px;
    border: none;
    filter: drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.25));
}

button:hover{
    background-color: black;
    color: white;
}

button *:hover{
    color: white;
}

input{
    border: none;
}

button:hover{
    cursor: Pointer;
    background-color: #ffdba8;
    color: rgb(96, 173, 251);
}

button:active{
    color: teal;
}

.stroke{
    border-width: 1px 0px;
    border-style: solid;
    border-color: #000000;
}

.drop_shadow{
    filter: drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.25));
}

/* Contact_number */
.contact_number{
    padding: 10px;
    background-color: var(--custom_light_grey);
    justify-content: center;
    display: flex;
}

.contact_number p{
    font-size: 18px;
    font-weight: 600;
}



/* nav bar */

.navbar{
    padding: 0 15%;
    background-color: var(--custom_grey);
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar img{
    height: 80px;
}

.nav_link_container{
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.nav_link_container a{
    color: white;
    font-size: 22px;
    transition: 0.5s ease;
}

.nav_link_container a:hover{
    cursor: pointer;
    color: rgb(96, 173, 251);
}

.contact_us_link{
    background-color: var(--custom_sandal);
    height: fit-content;
    padding: 10px 18px;
    border-radius: 8px;
    font-size: 18px;
    border: none;
    filter: drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.25));
}

.contact_us_link:hover{
    background-color: black;
    color: white;
}

.contact_us{
    display: none;
}

.hamburger{
    display: none;
}

.bar{
    display: block;
    height: 4px;
    width: 35px;
    margin: 5px auto;
    border-radius: 2px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--custom_sandal);
}


/* About_container */

.container{
    margin: 60px 15% 60px 15%;
    padding: 3%;
    background-color: white;
    border-radius: 12px;
    filter: drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.25));
}

h2{
    font-size: 46px;
    font-weight:normal;
    font-family: "Custom_Baskerville";
}

.details_container {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.details_container *{
    color: var(--custom_grey);
}

.detail p{
    font-size: 20px;
    font-weight: 600;
}

.detail_img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail_img img{
    width: 85%;
    max-width: 1400px;
}

.detail_quote h6{
    color: white;
    padding: 10px;
    margin-top: 20px;
    font-size: 22px;
    font-weight: 600;
    background-color: var(--custom_grey);
}

/* footer */

footer{
    margin-top: 100px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 150px;
}

footer *{
    color: white;
}

footer>*{
    margin-top: 60px;
}

footer hr{
    width: 80%;
}

.footer_text{
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
}

.footer_text_1{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.footer_text_2{
    display: flex;
    justify-content: center;
    gap:20px;
}

.footer_text a{
    font-size: 16px;
}

.footer_copyright{
    display: flex;
    justify-content: center;
    gap: 35px;
}

.footer_copyright p{
    margin-right: 2px;
    font-size: 12px;
}

.copyright_content{
    display: flex;
    gap: 8px;
}



/* Media Queries */


@media screen and (max-width:1300px){

    .container{
        margin: 40px 10%;
        padding: 5vh 5%;
    }

    .contact_us_link{
        display: none;
    }

    .contact_us{
        display: block;
    }

    .nav_link_container{
        gap: 40px;
    }

    .nav_link_container a{
        font-size: 18px;
    }
}


@media screen and (max-width:768px){


    body{
        overflow: hidden;
    }

    button{
        font-size: 10px;
    }

    .div_title{
        padding: 72px 20px 36px 20px;
        font-size: 32px;
        font-weight:100;
        font-family: "Custom_Baskerville";
        align-content: center;
    }


    .contact_number p{
        font-size: 16px;
    }
    
    /* nav bar */
    
    .navbar{
        padding: 0 20px;
        background-color: var(--custom_grey);
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .navbar img{
        height: 55px;
    }
    
    .nav_link_container{
        display: flex;
        justify-content: space-between;
        gap: 100px;
        transition: 0.7s ease;
    }
    
    .nav_link_container a{
        color: white;
        font-size: 22px;
        
    }

    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(10px) rotate(45deg);
    }
    
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .contact_us{
        display: inline;
    }

    .contact_us_link{
        display: none;
    }

    .nav_link_container{
        position:fixed;
        right: -100%;
        top: 70px;
        flex-direction: column;
        justify-content: center;
        gap: 12px;
        background-color: var(--custom_grey);
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav_link_container a{
        font-size: 16px;
    }

    .nav_link_container.active{
        right: 0;
        z-index: 2;
        padding: 12px 0;
    }





    .container{
        margin: 40px 21px;
    }

    .container h2{
        font-size: 36px;
    }

    .details_container p{
        font-size: 16px;
    }

    .detail_img img{
        width: 100%;
    }

    .detail_quote h6{
        font-size: 18px;
    }




    /* footer */
    footer{
        margin-top: 30px;
        flex-direction: column;
        padding-bottom: 30px;
    }

    footer>img{
        width: 100px;
    }

    footer>*{
        margin-top: 36px;
    }
    
    .footer_text{
        display: flex;
        justify-content: center;
        gap: 36px;
        align-items: center;
        flex-direction: column;
        flex-flow: column-reverse;
    }
    
    .footer_text_1{
        display: flex;
        justify-content: center;
        gap: 12px;
        flex-direction: column;
        align-items: center;
    }
    
    .footer_text_2{
        display: flex;
        justify-content: center;
        gap:40px;
    }
    
    .footer_text a{
        font-size: 12px;
    }
    
    .footer_copyright{
        display: flex;
        justify-content: center;
        gap: 35px;
    }
    
    .footer_copyright p{
        margin-right: 2px;
        font-size: 10px;
    }
    
    .copyright_content{
        display: flex;
        gap: 8px;
    }
}